:root {
    --dark: #1e1e1e;
    --white: #ffffff;
}

@font-face {
    font-family: 'Roboto Light';
    src: url('./assets/fonts/Roboto_Condensed-Light.ttf') format('truetype');
    font-weight: 500; 
    font-style: normal;
}

@font-face {
    font-family: 'Roboto Thin';
    src: url('./assets/fonts/Roboto_Condensed-Thin.ttf') format('truetype');
    font-weight: 500; 
    font-style: normal;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    background: var(--dark);
    overflow: hidden;
    color: var(--white);
    font-family: 'Roboto Light';
}

body {
    width: 100vw;
    height: 100vh;
    overflow-y: scroll;
}

.nav {
    position: sticky;
    height: 8%;
    border-bottom: 1px solid var(--white);
    overflow: visible;
    position: relative;
    display: flex;
    align-content: center;
    margin-bottom: 1rem;
}

.navBar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.5rem 1rem;
    width: 100vw;
}

#menuButton {
    position: relative;
    border: none;
    z-index: 2;
    
}

#menuButton::after {
    content: "";
    width: 100%;
    height: 0;
    z-index: -1;
    background: var(--white);
    position: absolute;
    bottom: 1px;
    left: 0;
    transition: 0.1s all;
}

#menuButton:hover::after {
    height: 100%;
}

.icons {
    width: auto;
    height: 20px;
    background: transparent;
    scale: 1.3;
    vertical-align: middle;
}

.slideMenu {
    position: absolute;
    visibility: hidden;
    width: 0;
    height: 100vh;
    top: 0;
    right: 0;
    z-index: 1;
    transition: all 0.3s;
    border-left: 1px solid var(--white);
}

.slideMenu ul {
    display: flex;
    flex-direction: column;
    list-style: none;
    height: 100vh;
    padding: 5rem 0;
}

.slideMenu ul li {
    margin: 1.5rem 0.5rem;
    display: flex;
    justify-content: center;
    border-bottom: 1px solid var(--white);
}

.slideMenu a {
    padding: 0.5rem;
    text-decoration: none;
    background: transparent;
}

.dashBoard {
    padding: 0 1rem;
}

.allStatus {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.property {
    font-size: 1.2rem;
    font-weight: 500;
    font-family: 'Roboto Light';
}

.label {
    margin: 0.2rem 0;
    font-size: 12px;
    text-align: center;
    font-family: 'Roboto Thin', sans-serif;
}

.status {
    text-align: center;
    font-size: 1rem;
}

.secHeader {
    text-align: left;
    margin: 1rem 0 2rem 0;
    font-size: 2rem;
}

.secHeader2 {
    text-align: center;
    margin: 1rem 0 2rem 0rem;
    font-size: 1.3rem;
}

.sec {
    margin: 1rem 0;
}

.sec2 {
    margin: 3rem 0;
}

.reports {
    padding: 0 1rem;
}


@media only screen and (min-width: 700px) {

    .nav {
        height: 10%;
    }

    .leftMenu {
        display: block;
    }

    .navBar {
        padding: 0 2rem;
    }

    .menuIcon {
        display: none;
    }

    .slideMenu {
        display: flex;
        visibility: visible;        
        width: auto;
        align-items: center;
        border: none;
        height: auto;
        height: 100%;
        position: relative;
    }

    .slideMenu ul {
        flex-direction: row;
        height: auto;
        padding: 0;    
        border: none;
    }

    .slideMenu ul li {
        border: none;
        margin: 0;
    }

    .slideMenu ul li a {
        position: relative;
        margin: 0 1rem;
    }

    .slideMenu ul li a::after{
        content: "";
        background-color: var(--white);
        position: absolute;
        bottom: 5px;
        left: 0;
        width: 0;        
        height: 4%;
        transition: 0.5s all;
    }

    .slideMenu ul li a:hover:after{
        width: 100%;
    }

    .label {
        font-size: 1rem;
    }

    .property {
        font-size: 1.5rem;
    }

    .secHeader {
        margin-left: 3rem;
        margin-bottom: 4rem;
        font-size: 2rem;
    }

    .secHeader2 {
        text-align: center;
        margin: 1rem 0 2rem 0rem;
        font-size: 1.5rem;
    }

    .sec {
        margin: 2rem 0 1rem 0;
    }
    
    .sec2 {
        margin: 5rem 0;
    }
}
